<%- include("partials/header_1.ejs") %>
<!-- <div class="maindiv-1"> -->
  <h2 style="text-align: center">Welcome User👋<br>Explore Interview Experiences 🙌</h2>
  <!-- <div class="container-fluid-1">  -->
    <!-- <div class="row"> -->
      <div class="experience-cards">
      <% experiences.forEach(function(experience){ %>
        <!-- <div class="cards col-lg-4 col-md-12 col-sm-12 mb-3">
          <div class="card border border-3">
            <div class="card-header text_date">
              <div class="home_card_header"><%= experience.feedback %></div>
              <div class="home_card_date">📅 <%= experience.date %></div>
            </div>
            <div class="card-body">
              <h3><%= experience.companyName %></h3>
              <p class="card-text"><%= experience.content %></p>
            </div>
          </div>
        </div> -->
        <div class="experience-card-item-outer">
          <div class="experience-card-item">
            <div class="experience-card-item-header">
              <h3 class="company-name"><%= experience.companyName %></h3>
              <h6 class="company-result"><%= experience.result %></h6>
            </div>
            <div class="experience-card-item-sub-header">
              <h6 class="company-role"><%= experience.position %></h6>
            </div>
            <div class="experience-card-item-body">
              <p><%= experience.content %></p>
            </div>
            <div class="experience-card-item-footer">
              <div class="feedback-area">
                <p><%= experience.feedback %></p>
                <span>Difficulty</span>
              </div>
              <div class="experience-date">
                <p><%= experience.date %></p>
                <span>Date</span>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
      </div>
    <!-- </div>
  </div>
</div> -->