<%- include("partials/header_1.ejs") %>
<h2 style="text-align: center">Welcome User👋<br>Explore some Interview Experiences 🙌</h2>
<div class="experience-cards"> 
      <% experiences.forEach(function(experience){ %>
        <div class="experience-card-item-outer">
          <div class="experience-card-item">
            <div class="experience-card-item-header">
              <h3 class="company-name"><%= experience.companyName %></h3>
              <h6 class="company-result"><%= experience.result %></h6>
            </div>
            <div class="experience-card-item-sub-header">
              <h6 class="company-role"><%= experience.position %></h6>
            </div>
            <div class="experience-card-item-body">
              <p><%= experience.content %></p>
            </div>
            <div class="experience-card-item-footer">
              <div class="feedback-area">
                <p><%= experience.feedback %></p>
                <span>Difficulty</span>
              </div>
              <div class="experience-date">
                <p><%= experience.date %></p>
                <span>Date</span>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
