<%- include("partials/header_1.ejs") %>
<div class="maindiv">
  <h2 style="text-align: center">Welcome User👋<br>Explore some Interview Experiences 🙌</h2>
  <div class="container-fluid"> 
    <div class="row">
      <% experiences.forEach(function(experience){ %>
        <div class="cards col-lg-4 col-md-12 col-sm-12 mb-3">
          <div class="card border border-3">
            <div class="card-header text_date">
              <div class="home_card_header"><%= experience.feedback %></div>
              <div class="home_card_date">📅 <%= experience.date %></div>
            </div>
            <div class="card-body">
              <h3><%= experience.title %></h3>
              <p class="card-text"><%= experience.content %></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
<script>
  alert("User Authenticated Successfully!");
</script>
