<% if (user.defaultRole == "admin") { %>
  <%- include("partials/header_1_admin") %>
<% } else { %>
  <%- include("partials/header_1") %>
  <% } %>

<h2 style="text-align: center" class="page-title">Explore Interview Experiences</h2>
<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-6">

      <div class="search">
        <form id="searchForm">
          <i class="fa fa-search"></i>
          <input id="seachInput" type="text" class="form-control" placeholder="Search here">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
    
  </div>
</div>
<div class="company-cards">
  <% companies.forEach(function(company) { %>
    <div class="company-card-item">
      <a href="/<%= company._id %>/experiences"> 
      <div class="company-card-item-2">
        <div class="logo">
          <img src="<%= company.logoURL %>" alt="<%= company.companyName %>">
        </div>
        <h5 class="company-name"><%= company.companyName %></h5>
      </div>
      </a>
    </div>
  <% }); %>
</div>
<footer class="footer text-center">
  <div class="container py-4">
      <div class="row">
          <div class="col-md-12">
              <p class="footer-text">&copy; 2023 InterXview. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>

<script>
  function displayFilteredCompanies(companies) {
    const companyCardsContainer = document.querySelector(".company-cards");
    companyCardsContainer.innerHTML = ""; 

    companies.forEach(company => {
      const companyCardHTML = `
        <div class="company-card-item">
          <a href="/${company._id}/experiences"> 
            <div class="company-card-item-2">
              <div class="logo">
                <img src="${company.logoURL}" alt="${company.companyName}">
              </div>
              <h5 class="company-name">${company.companyName}</h5>
            </div>
          </a>
        </div>
      `;
      
      companyCardsContainer.insertAdjacentHTML("beforeend", companyCardHTML);
    });
  }

  async function searchCompanies() {
    const searchInput = document.getElementById("seachInput").value;

    try {
      response = await fetch(`/search-control?searchBy=company&searchTerm=${searchInput}`);

      const data = await response.json();

      if (!response.ok) {
        return toastAlert({
          icon: "error",
          msg:  data.error,
          position: "top"
        });
      }

      displayFilteredCompanies(data.results);
    } catch (error) {
      console.error(error)
    }
  }

  document.getElementById("searchForm").addEventListener("submit", function (event) {
    event.preventDefault();

    searchCompanies();
  });
</script>