<%- include("partials/header_1") -%>

<div class="company-cards">
  <% companies.forEach(function(company) { %>
    <div class="company-card">
      <a href="/<%= company._id %>/experiences"> <!-- Add a link to the new route -->
        <img src="<%= company.logoURL %>" class="logo" alt="<%= company.companyName %>">
        <div class="company-info">
          <h5><%= company.companyName %></h5>
          <p><%= company.description %></p>
        </div>
      </a>
    </div>
  <% }); %>
</div>